.errorPage {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  font-size: 1rem;
  font-weight: bold;
  color: #495057;
  text-align: center;
}
